body,
html {
	font-family: 'Roboto', 'Arial', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;	
}

.btn {
	color: #ffffff;
	font-size: 16px;
	border-radius: 2px;
	background-color: #fb565a;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 0;
	line-height: 18px;
	text-align: center;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0px 20px;	
}

/* стили header */

header {
	width: auto;
	background-color: #eeeeee;
	min-height: 350px;
}

header .container {
	background-color: #eeeeee;
}

.nav-header {
	padding-top: 50px;
}

.logo-header {
	float: left;
}

.nav-header ul {
	float: right;
	margin-top: 35px;
}

.nav-header li {
	display: inline-block;
	margin-left: 45px;
}

.cart-header {
	padding-left: 40px;
	background-image: url("../img/cart-icon.png");
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 245px;
}

.nav-header a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	font-weight: 500;
}

.promo-text {
	float: left;
	width: 400px;
	margin-top: 40px;
}

.promo-text h1 {
	font-size: 55px;
	font-weight: 500;
}

.promo-text p {
	line-height: 24px;
	color: #283136;
}

.promo-text .btn {
	width: 240px;
	margin-top: 45px;
}

.slide-1 {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide-2 .promo-text {
	width: 520px;
}

.slide-2 {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide-3 .promo-text {
	width: 450px;
}

.slide-3 {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.promo-container {
	padding-bottom: 70px;
}

/* стили слайдера */

.slider-slides {
	width: 300%;
}

.promo-container {
	float: left;
	width: 1160px;
}

.slider-inner {
	overflow: hidden;
}

.slider-controls label {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
	border-radius: 50%;
	background-color: #ffffff;
}

.slider input {
	display:none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #666666;
}

#btn-1:checked ~ .slider-inner .slider-slides { 
    transform: translate(0px);
	transition: 2s;
}

#btn-2:checked ~ .slider-inner .slider-slides { 
    transform: translate(-1160px);
	transition: 2s;
}

#btn-3:checked ~ .slider-inner .slider-slides { 
    transform: translate(-2320px);
	transition: 2s;
}

.slider {
	position: relative;
}
.slider-controls {
	position: absolute;
	bottom: 100px;
	left: 565px;
	z-index: 100;
}

/* стили main */

.features-main {
	border-bottom: 3px solid #eeeeee;
	padding-top: 80px;
	padding-bottom: 80px;
}

.features-item  {
	float: left;
	margin-right: 100px;
	width: 300px;	
}

.features-item:nth-child(3n) {
	margin-right: 0;
}

.features-item h3 {
	text-transform: uppercase;
	font-size: 24px;
}

.features-item p {
	padding-right: 25px;
	line-height: 24px;
	color: #283136; 	
}

.features-item .btn {
	width: 160px;
	margin-top: 35px;
}

.btn-green {
	background-color: #00ca74;
}

.btn-yellow {
	background-color: #efc849;
}

/* стили aboutUS */

.aboutUs-main {
	border-bottom: 3px solid #eeeeee;
	padding-bottom: 75px;
	padding-top: 40px;
}

.aboutUs-left {
	float: left;
	width: 660px;
}

.aboutUs-left h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.aboutUs-left p,
.aboutUs-left li {
	line-height: 24px;
	color: #283136; 
	padding-right: 25px;
}

.aboutUs-left b {
	display: block;
	text-transform: uppercase;
	margin-top: 40px;
}

.aboutUs-left li {
	margin-top: 30px;
}

.aboutUs-right {
	float: right;
	width: 360px;
}

.aboutUs-table {
	display: table;
	margin-top: 35px;
}

.table-caption {
	display: table-caption;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.aboutUs-table ul {
	display: table-row;
	list-style-type: none;
}

.aboutUs-table li {
	display: table-cell;
	padding-bottom: 30px;
}

.aboutUs-table b {
	font-size: 45px;
}

.aboutUs-table ul:last-child {
	line-height: 18px;
	color: #283136;
}

/* стили works  */

.works-main {
	border-bottom: 3px solid #eeeeee;
	padding-top: 55px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.works-item {
	float: left;
	margin-right: 100px;
}

.works-item:nth-child(4n) {
	margin-right: 0;
}

/* стили footer */

footer {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

.adress-footer {
	padding-top: 50px;
	margin-top: 80px;
}

.contacts-footer {
	float: left;
	width: 210px;
	padding: 60px;
	background-color: #ffffff;
}

.contacts-footer b {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-footer p {
	line-height: 18px;
	color: #666666;
}

.contacts-footer .btn {
	width: 220px;
	margin: 0 auto;
	margin-top: 40px;
}

.social-footer {
	padding-top: 120px;
}

.social-footer div {
	float: left;
}

.social-btn a {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-right: 15px;
	background-color: rgba(225, 225, 225, 1);
	border-radius: 50%;
}

.social-btn a:last-child {
	margin-right: 0;
}

.social-btn img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.social-promo {
	margin-left: 140px;
}

.social-promo b {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	
}

.social-promo p {
	line-height: 22px;
	color: #444444;
}

/* стили формы write us */

.footer-form {
	width: 760px;
	padding: 70px 100px;
	box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.75);
}

.footer-form fieldset {
	border: none;
}

.footer-form legend {
	font-size: 45px;
	font-weight: 500;
} 

.footer-form b {
	line-height: 18px;
	font-weight: 700;
}

/* стили нердс каталог */

.promo-catalog {
	width: 730px;
	margin: 0 auto;
	margin-top: 80px;
}

.promo-catalog h1 {
	font-size: 55px;
	font-weight: 500;
}

/* стили main catalog левая колонка */

.column-left {
	float: left;
	width: 260px;
}

.column-left b {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}

.catalog-form {
	margin-top: 50px;
}

.catalog-form  ul {
	list-style-type: none;
}

.catalog-form fieldset {
	border: none;
} 

/* стили main catalog правая колонка */

.column-right {
	float: right;
	width: 760px;
}

.sort b {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}

.sort-list {
	float: right;
	list-style-type: none;
	margin: 0;
	margin-bottom: 50px;
}

.sort-list li {
	float: left;
	margin-right: 20px;
}

.sort-list li:last-child {
	margin-right: 0;
}

.sort-list a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.sort-up img {
	transform: rotate(180deg);
}

.catalog-item {
	position: relative;
	float: left;
	margin-right: 34px;
	margin-bottom: 40px;
	border: 1px solid rgba(233, 233, 233, 1);
	line-height: 0;
}

.catalog-item:nth-child(2n) {
	margin-right: 0px;
}

.item-top {
	min-height: 40px;
	background-color: rgba(233, 233, 233, 1);
}

.item-top ul {
	list-style-type: none;
	margin: 0;
	margin-left: 10px;
	padding: 0;
}

.item-top li {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffffff;
	margin-left: 10px;
	margin-top: 12px;
}

.item-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(238, 238, 238, 1);
}

.item-bottom .btn {
	width: 200px;
	margin: 0 auto;
}

.item-bottom b {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px; 
}

.item-bottom p {
	line-height: 18px;
	color: #666666;
}

.paginator-catalog-img a {
	display: inline-block;
	height: 50px;
	min-width: 50px;
	padding: 0px 10px;
	background-color: rgba(238, 238, 238, 1);
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}










